body {
    background-image: url("../images/pool_table.png");
    color: white;
    font-family: 'Karla', sans-serif;
}

h1, h3 {
    font-family: 'Space Mono', monospace;
}

.page-header {
    text-align: center;
}

/* GAMEBOARD */
.card-container {
    background-color: #fff;
    border-radius: 15px;
    border: 2px #777 solid;
    height: 300px;
    max-width: 220px;
    box-shadow: 15px 15px 17px rgba(33, 33, 33, .7);
}

.card-container:hover {
    transform: rotate(-1deg);
    cursor: pointer;
}