body {
    background-image: url("../images/pool_table.png");
    color: white;
    font-family: 'Niconne', serif;
    letter-spacing: 2px;
}

h1, h2 {
    font-family: 'Ultra', serif;
}

h1 {
    font-size: 54pt;
}

h3 {
    font-size: 24pt;
    margin-top: 0;
}

.page-header {
    text-align: center;
}

/* GAMEBOARD */
.card-container {
    background-color: #fff;
    border-radius: 15px;
    border: 2px #777 solid;
    height: 300px;
    max-width: 220px;
    margin: 0 auto;
    box-shadow: 15px 15px 17px rgba(33, 33, 33, .7);
}

.card-container:hover {
    transform: rotate(-1deg);
    cursor: pointer;
}

.card-back {
    position: relative;
    background-color: tomato;
    top: 8%;
    left: 8%;
    width: 84%;
    height: 84%;
}

.score-box {
    border: 5px #fff solid;
    margin-top: 100px;
    padding: 0 20px 20px 20px;
    width: 100%;
    text-align: center;
    overflow: auto;
}