body {
    background-image: url("../images/pool_table.png");
    color: white;
    font-family: 'Niconne', serif;
    letter-spacing: 2px;
}

h1, h2 {
    font-family: 'Ultra', serif;
}

h1 {
    font-size: 54pt;
}

h3 {
    font-size: 24pt;
    margin-top: 0;
}

.page-header {
    text-align: center;
}

/* GAMEBOARD */
.gameboard {
    text-align: center;
}

.card-back {
    display: inline-block;
    height: 300px;
    width: 220px;
    margin: 10px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(33, 33, 33, .7);
}

.card-back:hover {
    transform: rotate(-1deg);
    cursor: pointer;
}

.score-box {
    border: 5px #fff solid;
    margin-top: 50px;
    padding: 0 20px 20px 20px;
    width: 100%;
    text-align: center;
    overflow: auto;
}